html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: 14274A;
    background: black;
  }
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: url('/img/htl.jpg');
}

.wa {
  font-size: large;
}

.wa a {
  text-decoration: none;
  color: black;
}

.mail {
  font-size: large;
}

.mail a {
  text-decoration: none;
  color: black;
}

.btn-primary {
  background-color: #16213E !important;
}

footer {
  background-color: #14274A;
}